.footerIcon{
    width: 23px;height: 25px;
}

.footerBtn2{
    
    color: #C00025 ;
    fill:#C00025
}

.footerBtn1{
    color:#BDC6CF ;
    fill: #BDC6CF
}

.ion-color-badge{
    --ion-color-base: #C00025 !important;

}