<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="specialists">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Specialists</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="services">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>Services</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="messages">
      <ion-icon name="map"></ion-icon>
      <ion-label>Messages</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="more">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>More</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
