.ion-color-greate{
    --ion-color-base: #008B8B !important;

}

.eachGrid {
    border-top: solid 1px darkgray;
}

.title {
    font-family: psb; font-size: 20px; color: #323C48;
    margin: 0px 7px 0px 82px;
}

.logo{
    width: 90px; height: 90px; margin: 8px 120px 3px 114px;
}

.list {
    font-weight:bold; font-size:13px; color: #474747;
}

.listBig {
    font-weight:bold; font-size:17px; color: #474747;
}

.list_Content{
    font-size: 12px; color: #67727E;
}

.footerBtn1{
    color:#BDC6CF ;
    fill: #BDC6CF
}

.progress {
    
    ion-progress-bar {
        --ion-color-base: #FABB13 !important;
        --background: #FABB13;
        --buffer-background:  #FABB13;
        --progress-background: #FABB13;
      }
}





.ddr-title{
    font-size: 18px;
    font-family: psr;
    color: #474747;
}

.topBar {
    color:#C00025; font-size: 13px; font-family: psb;
}

.topBarName{
    border-bottom: solid 2px#C00025;
}


.gridImg{
    width: 50px; height: 50px; margin: 10px auto;
}

.name{
    color: #C00025; margin-bottom: -12px; font-family: psb; font-size: 15px;
}



.star {
    font-size: 15px;color: #FABB13;
    margin-left: 40px;
}


.ion-color-topRate{
    --ion-color-base: #0087C1 !important;

}


.ion-color-dangerCus{
    --ion-color-base: #C00025 !important;

}
.description {
    color: #67727E; font-size: 14px;
}

.hire{
    width: 135px; height: 36px; margin-left: -8px; text-transform: none;
}

.invite {
    width: 135px; height: 36px; margin-left: -5px; text-transform: none; color: #474747;
}