<ion-content>
  <div class="wrap">
    <ion-row class="width100 paddingt justifyright">
      <svg xmlns="http://www.w3.org/2000/svg" width="13.414" height="13.414" viewBox="0 0 13.414 13.414">
        <g id="Group_280" data-name="Group 280" transform="translate(-17.793 -35.793)">
          <line id="Line_3" data-name="Line 3" y1="12" x2="12" transform="translate(18.5 36.5)" fill="none"
            stroke="#474747" stroke-linecap="round" stroke-width="1" />
          <line id="Line_4" data-name="Line 4" y1="12" x2="12" transform="translate(30.5 36.5) rotate(90)" fill="none"
            stroke="#474747" stroke-linecap="round" stroke-width="1" />
        </g>
      </svg>
    </ion-row>
    <p class="title">Sign up or log in</p>
    <p class="des">By tapping Continue with Facebook, Twitter,
      Instagram, Google, or Continue with email, you
      agree to the <a routerLink="/walkthrough" routerDirection="forward">Terms of Use</a> and <a href="">Privacy
        Policy</a></p>

    <div class="width100 fbtn">
      <ion-icon name="logo-facebook"></ion-icon>&nbsp;&nbsp;<span>Continue with Facebook</span>
    </div>
    <div class="width100 tbtn">
      <ion-icon name="logo-twitter"></ion-icon>&nbsp;&nbsp;<span>Continue with Twitter</span>
    </div>
    <div class="width100 ibtn">
      <svg id="instagram" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18"
        height="18" viewBox="0 0 18 18">
        <defs>
          <linearGradient id="linear-gradient" x1="0.5" y1="0.008" x2="0.5" y2="0.998"
            gradientUnits="objectBoundingBox">
            <stop offset="0" stop-color="#e09b3d" />
            <stop offset="0.3" stop-color="#c74c4d" />
            <stop offset="0.6" stop-color="#c21975" />
            <stop offset="1" stop-color="#7024c4" />
          </linearGradient>
          <linearGradient id="linear-gradient-2" y1="-0.451" y2="1.462" xlink:href="#linear-gradient" />
          <linearGradient id="linear-gradient-3" y1="-1.396" y2="6.586" xlink:href="#linear-gradient" />
        </defs>
        <path id="Path_743" data-name="Path 743"
          d="M12.638,0H5.362A5.368,5.368,0,0,0,0,5.362v7.275A5.368,5.368,0,0,0,5.362,18h7.275A5.368,5.368,0,0,0,18,12.638V5.362A5.368,5.368,0,0,0,12.638,0Zm3.551,12.638a3.552,3.552,0,0,1-3.551,3.551H5.362a3.552,3.552,0,0,1-3.551-3.551V5.362A3.551,3.551,0,0,1,5.362,1.811h7.275a3.551,3.551,0,0,1,3.551,3.551v7.275Z"
          fill="url(#linear-gradient)" />
        <path id="Path_744" data-name="Path 744"
          d="M137.655,133a4.655,4.655,0,1,0,4.655,4.655A4.661,4.661,0,0,0,137.655,133Zm0,7.5a2.845,2.845,0,1,1,2.845-2.845A2.845,2.845,0,0,1,137.655,140.5Z"
          transform="translate(-128.655 -128.655)" fill="url(#linear-gradient-2)" />
        <circle id="Ellipse_26" data-name="Ellipse 26" cx="1.116" cy="1.116" r="1.116"
          transform="translate(12.549 3.264)" fill="url(#linear-gradient-3)" />
      </svg>
      &nbsp;&nbsp;<span>Continue with Instagram</span>
    </div>
    <div class="width100 gbtn">
      <svg id="search" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
        <path id="Path_739" data-name="Path 739"
          d="M3.989,144.285l-.627,2.339-2.29.048a9.016,9.016,0,0,1-.066-8.4h0l2.039.374.893,2.027a5.371,5.371,0,0,0,.05,3.616Z"
          transform="translate(0 -133.407)" fill="#fbbb00" />
        <path id="Path_740" data-name="Path 740"
          d="M270.273,208.176a9,9,0,0,1-3.208,8.7h0l-2.568-.131-.363-2.269a5.364,5.364,0,0,0,2.308-2.739h-4.813v-3.56h8.645Z"
          transform="translate(-252.43 -200.857)" fill="#518ef8" />
        <path id="Path_741" data-name="Path 741"
          d="M44.07,314.549h0A9,9,0,0,1,30.509,311.8l2.917-2.387a5.353,5.353,0,0,0,7.713,2.741Z"
          transform="translate(-29.436 -298.531)" fill="#28b446" />
        <path id="Path_742" data-name="Path 742"
          d="M42.362,2.072,39.447,4.459a5.352,5.352,0,0,0-7.89,2.8l-2.932-2.4h0A9,9,0,0,1,42.362,2.072Z"
          transform="translate(-27.618)" fill="#f14336" />
      </svg>
      &nbsp;&nbsp;<span>Continue with Google</span>
    </div>
    <p class="ebtn" routerLink="/emailaddress" routerDirection="forward">Continue with email</p>
  </div>
</ion-content>