
.ddr-title{
    font-size: 18px;
    font-family: psr;
    color: #474747;
}

.topBar {
    color:#C00025; font-size: 13px; font-family: psb;
}

.topBarName{
    border-bottom: solid 2px#C00025;
}



