<ion-content>
  <div class="wrap">
    <ion-row class="width100 justifybetween paddingt">
      <svg routerLink="/emailaddress" routerDirection="back" xmlns="http://www.w3.org/2000/svg" width="8.828" height="14.828" viewBox="0 0 8.828 14.828">
        <g id="Group_278" data-name="Group 278" transform="translate(-23.086 -35.086)">
          <line id="Line_3" data-name="Line 3" y1="6" x2="6" transform="translate(24.5 36.5)" fill="none"
            stroke="#474747" stroke-linecap="round" stroke-width="2" />
          <line id="Line_4" data-name="Line 4" x2="6" y2="6" transform="translate(24.5 42.5)" fill="none"
            stroke="#474747" stroke-linecap="round" stroke-width="2" />
        </g>
      </svg>

      <svg routerLink="/signuporlogin" routerDirection="back" xmlns="http://www.w3.org/2000/svg" width="14.828" height="14.828" viewBox="0 0 14.828 14.828">
        <g id="Group_280" data-name="Group 280" transform="translate(-17.086 -35.086)">
          <line id="Line_3" data-name="Line 3" y1="12" x2="12" transform="translate(18.5 36.5)" fill="none"
            stroke="#474747" stroke-linecap="round" stroke-width="2" />
          <line id="Line_4" data-name="Line 4" y1="12" x2="12" transform="translate(30.5 36.5) rotate(90)" fill="none"
            stroke="#474747" stroke-linecap="round" stroke-width="2" />
        </g>
      </svg>
    </ion-row>

    <p class="title">Create <br> a password</p>
    <ion-row class="input_wrap">
      <ion-icon name="ios-lock"></ion-icon>
      <ion-input placeholder="Password" [type]="password?'password':'email'"></ion-input>
      <span (click)="clickShowable()">{{password?"Show":"Hide"}}</span>
    </ion-row>

    <button ion-button routerLink="/fullname" routerDirection="forward" class="bottom_button">N E X T</button>

  </div>
</ion-content>