
.ddr-title{
    font-size: 18px;
    font-family: psr;
    color: #474747;
}

.topBar {
    color:#C00025; font-size: 13px; font-family: psb;
}

.topBarName{
    border-bottom: solid 2px#C00025;
}

.eachGrid {
    border-top: solid 1px darkgray;
}

.gridImg{
    width: 50px; height: 50px; margin: 10px auto;
}

.name{
    color: #C00025; margin-bottom: -12px; font-family: psb; font-size: 15px;
}

.title {
    font-family: psb; font-size: 15px; color: #323C48;
}

.star {
    font-size: 15px;color: #FABB13;
}


.ion-color-topRate{
    --ion-color-base: #0087C1 !important;

}


.ion-color-dangerCus{
    --ion-color-base: #C00025 !important;

}
.description {
    color: #67727E; font-size: 14px;
}

.hire{
    width: 135px; height: 36px; margin-left: -8px; text-transform: none;
}

.invite {
    width: 135px; height: 36px; margin-left: -5px; text-transform: none; color: #474747;
}